.sliderevt > ul {
	
	width: 100%;
	height: auto; 
	position: absolute;
}

.sliderevt > ul > li {
	width: 33%;
	list-style-type: none;
	position: absolute;
	top: 0;
	padding: 20px 20px;
	opacity: 0;
	text-align: center;
	transition: 1s opacity; 
}

.activesli {
	opacity: 1;
}

.sliderevt > ul > li > a {
	color: #000
}

.sliderevt > ul > li > a:hover {
	color: #bd1622;
}



