{% extends 'layouts/layout.html' %}

{% block content %}
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Cargando...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <div class="container">
            <div class="row g-5">
                <div class="col-lg-4 sticky-lg-top vh-100">
                    <div class="d-flex flex-column h-100 text-center overflow-auto shadow">
                        {% load static %}
                        <img class="w-100 img-fluid mb-4" src="{% static 'img/DiegoFernando.jpeg'%}" alt="Image">
                        <h1 class="text-primary mt-2">Diego Fernando Morales Santos</h1>
                        <div class="mb-4" style="height: 22px;">
                            <h4 class="typed-text-output d-inline-block text-light"></h4>
                        </div>
                        <div class="d-flex justify-content-center mt-auto mb-3">
                            <a class="btn btn-secondary btn-square mx-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-secondary btn-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-secondary btn-square mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-secondary btn-square mx-1" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                        <div class="d-flex align-items-end justify-content-between border-top">
                            <a href="" class="btn w-50 border-end">Tarea</a>
                            <a href="#contact" class="btn w-50 btn-scroll">Programacion</a>
                            <a href="#contact" class="btn w-50 btn-scroll">AVANZADO</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <!-- About Start -->
                    <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="title pb-3 mb-5">Sobre mi</h1>
                        <p>Mi nombre es Diego Fernando Morales Santos, tengo 21 años. Soy estudiante actualmente de la 
                        Corporacion Universitaria Remington, ha sido buena universidad, he aprendido bastante. Actualmente pase al
                        Octavo semestre (8) siento que he aprendido bastante. Empece a estudiar Ingenieria de Sistemas porque desde que
                        era muy chico me intereso la programacion, creaba cosas mirando videos de youtube aunque a veces no me salian
                        un tiempo estuve en esos juegos llamado Habbo Retros y me servia bastante para practicar mi programacion 
                        esos juegos tienen varios lenguajes: SQL, JS, PHP(Incluye HTML, CSS) etc, actualmente no recuerdo mas, ya que este 
                        contaba con bastantes. Uno para el emulador, otro para la swf etc... El caso es que en mi transcurso de la vida 
                        mi proposito con esta carrera es ser una de los mejores creadores de algo interesante o no un creador pero si estar 
                        involucrado en algo que pueda revolucionar el mundo de la tecnologia.
                        </p>
                        <div class="row mb-4">
                            <div class="col-sm-6 py-1">
                                <span class="fw-medium text-primary">Nombre:</span> Diego Fernando
                            </div>
                            <div class="col-sm-6 py-1">
                                <span class="fw-medium text-primary">Cumpleaños:</span> 11 Agosto 2000
                            </div>
                            <div class="col-sm-6 py-1">
                                <span class="fw-medium text-primary">Grado:</span> Estudiante
                            </div>
                            <div class="col-sm-6 py-1">
                                <span class="fw-medium text-primary">Celular:</span> 318 646 9507
                            </div>
                            <div class="col-sm-6 py-1">
                                <span class="fw-medium text-primary">Universidad:</span> Corporacion Universitaria Remington
                            </div>
                            <div class="col-sm-6 py-1">
                                <span class="fw-medium text-primary">Semestre:</span> 8 Semestre
                            </div>
                            <div class="col-sm-6 py-1">
                                <span class="fw-medium text-primary">Email:</span> diegomorales11082000@gmail.com
                            </div>
                            <div class="col-sm-6 py-1">
                                <span class="fw-medium text-primary">Entregado a:</span> Daniel Arteaga
                            </div>
                        </div>
                        <div class="row g-4">
                            <div class="col-md-4 col-lg-6 col-xl-4">
                                <div class="d-flex bg-secondary p-4">
                                    <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">8</h1>
                                    <div class="ps-3">
                                        <p class="mb-0">Semestre</p>
                                        <h5 class="mb-0">Universidad</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-6 col-xl-4">
                                <div class="d-flex bg-secondary p-4">
                                    <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">22</h1>
                                    <div class="ps-3">
                                        <p class="mb-0">Años</p>
                                        <h5 class="mb-0">a Cumplir</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-6 col-xl-4">
                                <div class="d-flex bg-secondary p-4">
                                    <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">2</h1>
                                    <div class="ps-3">
                                        <p class="mb-0">Proyectos</p>
                                        <h5 class="mb-0">Completados</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- About End -->

                    <!-- Skills Start -->
                    <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="title pb-3 mb-5">Habilidades</h1>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="skill mb-4">
                                    <div class="d-flex justify-content-between">
                                        {% for Atribut in Atributo %}
                                        <p class="mb-2"> 
                                            {{Atribut.Bueno}}
                                        </p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="title pb-3 mb-5">Dificultades</h1>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="skill mb-4">
                                    <div class="d-flex justify-content-between">
                                        {% for Atribut in Atributo %}
                                        <p class="mb-2"> 
                                            {{Atribut.Malo}}
                                        </p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="title pb-3 mb-5">Hobbies</h1>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="skill mb-4">
                                    <div class="d-flex justify-content-between">
                                        {% for Atribut in Atributo %}
                                        <p class="mb-2"> 
                                            {{Atribut.Hobbies}}
                                        </p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Skills End -->
{% endblock %}