{% load static %}

        
<link href="{% static 'sliders/_css/Icomoon/style.css" rel="stylesheet' %}" type="text/css" />
<link href="{% static 'sliders/_css/responsive-layered-slider.css' %}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{% static 'sliders/_scripts/jquery-2.0.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'sliders/_scripts/jquery-ui-1.10.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'sliders/_scripts/responsive-layered-slider.js' %}"></script> 
<link href="{% static 'sliders/styleSlidder.css'%}" rel="stylesheet">



<div class="sim-slider" data-width="100%" data-height="300" data-animation="1000" data-current="true" data-progress="true">

	<div class="sim-slider-inner">
		
				
		<div class="sim-slider-slide">
			<div class="sim-slider-layer" data-effect="zoomInDown" data-width="1280" data-height="300" data-left="0" data-top="0"><img src="{% static 'sliders/cesmag/Banner-inscripciones5.png' %}" /></div> 
			<div class="sim-slider-layer" data-effect="zoomInDown" data-width="1280" data-height="300" data-left="0" data-top="0"><img src="{% static 'sliders/cesmag/Banner-inscripciones3.png' %}" /></div> 
			<div class="sim-slider-layer" data-effect="zoomInDown" data-width="1280" data-height="300" data-left="0" data-top="0"><img src="{% static 'sliders/cesmag/Banner-inscripciones2.png' %}" /></div>
			<div class="sim-slider-layer" data-effect="zoomInDown" data-width="1280" data-height="300" data-left="0" data-top="0"><img src="{% static 'sliders/cesmag/Banner-inscripciones4.png' %}" /></div>
			<div class="sim-slider-layer" data-effect="zoomInRight" data-width="207" data-height="269" data-left="215" data-top="30"><img src="{% static 'sliders/cesmag/Banner-inscripciones1.png' %}" /></div>
			
			
		</div>    
		

	</div>  
    
</div>