{% load static %}
<link href="{% static 'sliders/sliderevento.css'%}" rel="stylesheet">
<script type="text/javascript" src="{% static 'sliders/sliderevento.js' %}"></script>

<style>
	.item > a > div {
		position:absolute;
		top:0;
		left:0;
		z-index:-1;
		padding:10px;
		margin:0;
		height: 100%;
		width: 100%;
	}
	.desvanecer:hover {
		opacity: 0.07;
		-webkit-transition: opacity 500ms;
		-moz-transition: opacity 500ms;
		-o-transition: opacity 500ms;
		-ms-transition: opacity 500ms;
		transition: opacity 500ms;
		}
</style>


<div class="brands">
		
			<div class="noticiaseventos">
				{% comment 'inicio titulo' %}
					en esta seccion se define el titulo como la flecha hacia abajo
				{% endcomment %}
				<div class="brand-title">
					<i class="far fa-arrow-alt-circle-down flecharoja"></i>
					<h1 class="titulo1">¿Qué está pasando?</h1>
				</div>
				{% comment 'botones' %}
					en esta seccion se definen los 3 botenes de noticias eventos y tiempos nuevos
				{% endcomment %}
				<div class="row">
					<div class="col-md-4" style="background-color: rgb(13, 70, 135);padding-top: 10px;padding-bottom: 10px;">
						
						<a href="{% url 'category' 2 %}" ><h1 class="titulo1-blanco">Eventos</h1></a>
						
					</div>
					<div class="col-md-4" style="background-color: rgb(12, 63, 123);padding-top: 10px;padding-bottom: 10px;">
						
						<a href="{% url 'category' 1 %}" ><h1 class="titulo1-blanco">Noticias</h1></a>
						
					</div>
					<div class="col-md-4" style="background-color: rgb(10, 50, 100);padding-top: 10px;padding-bottom: 10px;">
						
						<h1 class="titulo1-blanco">Tiempos nuevos</h1>
						
					</div>
				</div>

				{% comment 'sistemagrid' %}
					acontinuacion se divide el index en 3 elementos para manipular los grid proporcion 2/3, 1/3
				{% endcomment %}

				<div class="row">
					{% comment 'col-md-8' %}
						esta permite la separacion a 2/3
					{% endcomment %}
					<div class="col-md-8" >
						{% comment 'slider' %}
							acontinuacion se plantea el slider de noticas
						{% endcomment %}
						{% if noticias %}
							<div id="slider-home" style="margin-top: 30px;"> <!-- Slider -->
								<div id="brand-carousel" class="owl-carousel owl-theme">								
									{% for noticia in noticias %}
										<div class="item">
											<a href="{% url 'article' noticia.id %}">
												<div class="row">													
													
													<div class="col-md-12" >														
														<h2 style="margin-top: 0px; margin-bottom: 0px; font-weight: 700; color: #030303;">{{noticia.title}}</h2>
													</div>	
													<div class="col-md-6" >
														<h5 style="color: #6f6f6e;">Fecha: {{noticia.dateStartEvent|date:"d M"}} </h5>
													</div>	
													<div class="col-md-6" >
														<h5 style="color: #6f6f6e; ">Hora: {{noticia.timeStartEvent}}</h5>
													</div>	
													
												</div>									
												<img src="{{noticia.image.url}}" alt="slide-1" class="img-responsive desvanecer" style="width: 447px; height: 201px;"/>
											</a>
										</div>
									{% endfor %}
								</div>
							</div> <!-- Slider -->
						{% else %}
							<center>
								<h1 class="titulo1" style="color: #6f6f6e; text-align: center;margin-top: 5%; margin-bottom: 0px;">No hay noticias para mostrar</h1>
							</center>
						{% endif %}
					</div>
					{% comment 'col-md-4' %}
						ajuste automatico en la colimna en este caso 1/3
					{% endcomment %}
					<div class="col-md-4" >
						{% comment 'comunicados' %}
							dentro de esta seccion se propone la parte de comunicados
						{% endcomment %}

						<i class="fas fa-info icoInfo" style="margin-left: 2%;"></i>
						<h1 class="titulo1" style="color: #6f6f6e; text-align: left; margin-bottom: 0px;">Comunicados</h1>
						<hr style="margin-top: 0px; margin-bottom: 0px; border-top: 3px solid #6f6f6e"/>
						<h3 style="margin-left: 20px;margin-top: 10px; margin-bottom: 0px; text-align: left;">
							<a href="http://pruebas.unicesmag.edu.co/comunicados-universidad-cesmag/" target="_blank" rel="noopener noreferrer">
								<span style="color: #bd1622;">Ir a la página</span>
							</a>
						</h3>
					</div>
					
				</div>

				{% comment 'sistemagrid' %}
					acontinuacion se divide el index en 2 elementos para manipular los grid proporcion 3/4, 1/4
				{% endcomment %}

				<div class="row">
					{% comment 'col-md-8' %}
						esta permite la separacion a 2/3
					{% endcomment %}
					<div class="col-md-8 sliderevt" >
						{% comment 'slider' %}
							acontinuacion se plantea el slider de eventos
						{% endcomment %}
						{% if articles %}
							
							<ul id="c"> 
								{% for article in articles %}									
									<li><a href="{% url 'article' article.id %}"><h2 style="margin-bottom: 0px;margin-top: 0px;"><strong>{{article.dateStartEvent|date:"d M"}}</strong></h2><p> {{article.title}} - {{article.timeStartEvent}} </p></a></li>
								{% endfor %}
							</ul>

						{% else %}
							<center>
								<h1 class="titulo1" style="color: #6f6f6e; text-align: center;margin-top: 0%; margin-bottom: 0px;">No hay eventos para mostrar</h1>
							</center>
						{% endif %}
					</div>
					{% comment 'col-md-4' %}
						ajuste automatico en la colimna en este caso 1/3
					{% endcomment %}
					<div class="col-md-4" >
						{% comment 'comunicados' %}
							dentro de esta seccion se propone la parte de destacados
						{% endcomment %}
						<h3 style="margin-left: 20px; margin-bottom: 0px; margin-top: 20px; text-align: left;"><span style="color: #bd1622;">Destacados</span></h3>
						<h3 style="margin-left: 20px; margin-bottom: 0px; margin-top: 0px; text-align: left;"><span style="color: #6f6f6e;">Consultar</span></h3>
					</div>
					
				</div>
						
			</div>
		
	</div>
