{% load static %}
<div class="fondo-formulario" style="background:url({% static 'images/fondodat2.jpg'%}) no-repeat center center; background-size:cover; margin-left: 4%; margin-right: 4%;">
    <div class="row" style="padding:5%; margin-top: 15px;">
        <div class="col-md-9" style="margin-bottom: 5%;" >
            <h1 class="titulo1-blanco">¡Todo lo que necesitas a un clic de distancia!</h1>
        </div>
        <div class="col-md-3" >
            <i class="far fa-arrow-alt-circle-down flechablanca"></i>
        </div>
        <div class="col-md-4" style="margin-top: 3%;" >
            <h1 class="titulo1-blanco" style="margin-left: 30px; font-size: 32px;">Bienvenido a la</h3>
            <h1 class="titulo1-blanco" style="font-size: 70px;"><strong>Unicesmag </strong> </h1>
        </div>
        <div class="col-md-8" >

            <form action="{% url 'saveCon' %}" method="POST" > 

                {% csrf_token %}

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" name="nombres" placeholder="Nombres" required="required" >
                    </div>
                    <div class="form-group col-md-6">                        
                        <input type="tel" class="form-control" name="telefono" placeholder="Telefono" required="required">
                    </div>
                    
                </div>
                
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="email" class="form-control" name="correo" placeholder="Correo electronico" required="required">
                    </div>
                    <div class="form-group col-md-6">                        
                        <select class="form-control" name="programa" required="required">
                            <option selected>Programa de interés...</option>
                            <option>Arquitectura</option>
                            <option>Diseño gráfico</option>
                            <option>Administración de empresas</option>
                            <option>Contaduría pública</option>
                            <option>Tecnología en contabilidad y finanzas</option>
                            <option>Tecnología en gestión financiera</option>
                            <option>Derecho</option>
                            <option>Psicología</option>
                            <option>Licenciatura en química</option>
                            <option>Licenciatura en educación física</option>
                            <option>Licenciatura en educación infantil</option>
                            <option>Ingeniería Electrónica</option>
                            <option>Ingeniería de sistemas</option>
                            <option>Esp. Gerencia de proyectos</option>
                            <option>Esp. Arquitectura y urbanismo bioclimático</option>
                            <option>Esp. Infancia, cultura y desarrollo</option>
                            <option>Esp. Pedagogía del entrenamiento deportivo</option>
                            <option>Esp. Derecho empresarial</option>
                        </select>
                    </div>
                    
                </div>
                
                <div class="form-group col-md-12">
                    <textarea type="text" class="form-control" name="consulta" placeholder="Ingresa tu consulta" required="required"></textarea>
                </div>
                                    
                <div class="form-group col-md-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" required="required">
                        <label class="form-check-label" for="gridCheck" style="color: #cccccc;">
                            Acepta los términos y condiciones de acuerdo a nuestra <a style="color:#ffffff" target="_blank" href="http://noticias.unicesmag.edu.co/recursos/reglamentos/politicas-tratamiento-datos.pdf">política de tratamiento de datos</a>
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-primary botonrojo">Te contactaremos</button>
                </div>
                
            </form>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        
        
    </div>
</div>