{% extends 'layouts/layout.html' %}


{% block title %}{{article.title}}{% endblock title %}

{% block content %}
    
        
    <div id="content" style="background-color: #f3f3f3;"> <!-- Content -->
        <div class="page-title">
            <div class="container">
                <div class="page-title-inner" style="padding-left: 150px;">
                    {% for Categori in article.Categories.all %}
                        <h3>{{Categori.name}}</h3>
                        <div class="breadcumb"> <a href="">Home</a><span> / </span><span>{{Categori.name}}</span></div>
                        <div class="clearfix"></div>
                    {%endfor%}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-8 blog">
                <div class="row">
                    <div class="col-md-12 blog-content detail">
                        <div class="row">
                            <div class="col-md-12 blog-block">
                                <div class="blog-image">
                                    {% if article.image != 'null' and article.image.url|length >= 1 %}
                                        <img src="{{article.image.url}}" alt="" class="img-responsive" style="width: 963px; height: 437px;">
                                    {% endif %}                                    
                                </div>
                                <h3 class="blog-post-title">{{article.title}}</h3>
                                <div class="blog-meta">{{article.created_at|date:"M d, Y"}}<span>|</span>Fecha inicio {{article.dateStartEvent|date:"d M Y"}} - Fecha fin {{article.dateFinishEvent|date:"d M Y"}} | Hora {{article.timeStartEvent}} </div>
                                

                                <p>
                                    {{article.content|safe}}
                                </p>

                                {% if article.Document.all %}
                                    <div class="row full-text">
                                        <div class="col-md-12">
                                            {% for documents in article.Document.all %}
                                                <div class="blog-meta"><a href="{{documents.archivo.url}}">{{documents.titulo}}</a></div>
                                                
                                            {% endfor %}                                        
                                        </div>
                                    </div>                                
                                {% endif %}
                                
                                {% if article.Location.all %}
                                    <div class="row full-text">
                                        <div class="col-md-12">
                                            {% for locations in article.Location.all %}
                                                <div class="blog-meta">Ubicacion</div>
                                                <h3 class="sub-title">{{locations.name}}</h3>
                                                <div class="blog-meta">{{locations.ubicacion}}</div>
                                                <p>{{locations.description}}</p>
                                            {% endfor %}                                        
                                        </div>
                                    </div>
                                {% endif %}

                                
                                <h3 class="sub-title author" style="margin-top: 20px;">Organiza</h3>
                                <div class="author-block">
                                    <div class="row">
                                        {% for organizers in article.Organizer.all %}
                                        <div class="col-md-3">
                                            <img src="{{organizers.image.url}}" alt="" class="img-responsive">
                                            
                                        </div>
                                        <div class="col-md-9">
                                            <div class="author-name">
                                                
                                                    <h3>{{organizers.name}}</h3>
                                                {% endfor %}  
                                                <div class="clearfix"></div>
                                            </div>
                                            
                                            <p style="margin-top: 25px;">{{organizers.phonenumber}} | {{organizers.mail}}</p>
                                            
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-4 sidebar" style="padding-top: 72px;">
                        <div class="sidebar-inner">
                            {% comment 'Buscar' %}
                            
                            <div class="search-widget">
                                <h4>Buscar</h4>
                                <form class="side-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control search-wid" placeholder="Escribe los terminos de busqueda" aria-describedby="basic-addon3">
                                        <a href="" class="input-group-addon btn-side-serach" id="basic-addon3"><i class="fa fa-search"></i></a>
                                    </div>
                                </form>
                            </div>
                            {% endcomment %}
                            <div class="side-recent">
                                <h4>Entradas recientes</h4>
                                {% for recentPost in recentPosts %}
                                    <div class="side-recent-ct">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a href="{% url 'article' recentPost.id %}"><img src="{{recentPost.image.url}}" width="200" height="100" alt="{{recentPost.title}}"></a>
                                            </div>
                                            <div class="col-md-6">
                                                <h5><a href="{% url 'article' recentPost.id %}">{{recentPost.title}}</a></h5>
                                                <div class="meta">{{recentPost.created_at|date:"M d, Y"}}<span>|</span>Fecha inicio {{recentPost.dateStartEvent|date:"d M Y"}} - Fecha fin {{recentPost.dateFinishEvent|date:"d M Y"}} | Hora {{recentPost.timeStartEvent}}</div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            
                            <div class="blog-side-cat">
                                <h4>Categorias</h4>
                                
                                <ul class="blog-cat-list">
                                    {% for category in categorias %}
                                        <li><a href="{% url 'category' category.id %}">{{category.name}}</a></li>

                                    {% endfor %}                                    
                                    
                                </ul>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- Content -->
{% endblock content %}